// .slider-block{
//     background-color: red;
// }
@import "./reset";

// default styles
$Dark_Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very_Dark_Gray: hsl(0, 0%, 27%);
$fontSize: 12px;
$font_weight_1: 500;
$font_weight_2: 600;
$font_weight_1: 700;

header{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}
.desktop-header{
    display: none;
}
.hamburger{
    font-size: 30px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(66, 66, 66, 0.5);
}

.mobile-header{
    margin: 10px 0 0 25px;
    color: $White;
    display: flex;
    h1{
        position: absolute;
        left: 40%;
        font-weight: $font_weight_2;
    }

}
.mobile-header--links--container{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
}

.clear{
    fill: $Dark_Gray;
    font-size: 22px;
}
.mobile-header--links{
    list-style-type: none;
    display: inline-flex;
    gap: 13%;
    margin-left: 50px;
    color: black;
}



.slider-img--container{
    width: 100%;
    margin: 0;
    position: relative;
    figure{
        width: 100%;
        height: 320px;
        margin: 0;
        img{
            width:100%;
            height:100%;
            display: flow-root;
        }
    }
}

.slider-btn--position{
    position: absolute;
    bottom: 0;
    right: 0;
}
.slider-info--container{
    .slider-info{
        width: 80%;
        margin: 0 auto;
        h2{
            font-weight: $font_weight_2;
            margin: 25px 0 0 0;
        }
        p{
            color: $Dark_Gray;
            line-height: 1.4;
            margin: 15px 0;
        }
        .shop-btn--space{
            line-height: 4;
        }
    }
}

// body section
.about-furniture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.content-image--figure{
    flex-basis: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.body--content--card{
    flex-basis: 100%;
    .content{
        width: 80%;
        margin: 30px auto;
        h3{
            // line-height: 3.5;
            margin: 0 0 18px 0;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 4px;
        }
        p{
            line-height: 1.9;
            margin-bottom: 30px;
            color: $Dark_Gray;
        }
    }
}

.links{
    text-decoration: none;
}

@media (min-width: 766px){

    .mobile-header{
        display: none;
    }

    .desktop-header{
        color: $White;
        width: 43%;
        margin-left: 55px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4.5%;
        h1{
            flex-basis: 10%;
            font-size: 1.6rem;
            font-weight: $font_weight_2;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
        .desktop-list{
            list-style-type: none;
            padding: 0;
            flex-basis: 80%;
            display: inline-flex;
            align-items: center;
            font-weight: $font_weight_1;
            gap: 10%;
            cursor: pointer;
            li{
                padding: 5px 0;
                border: 2px solid transparent;
                transition: 0.4s;
               &:hover{
                border-bottom: 2px solid $White;
               }
            }
        }
    }
    .slider-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    .slider-img--container{
        flex-basis: 50%;
        figure{
            height: auto;
            margin: 0;
        }
    }
    .slider-btn--position{
        right: 0;
    }
    .slider-info--container{
        flex-basis: 50%;
        margin: 0;
        .slider-info{
            width: 85%;
            margin:0 auto;
            h2{
                font-size: 1.7rem;
                margin: 0;
                margin-bottom: 0.6rem;
            }
            p{
                line-height: 1.2;
                margin: 0;
                font-size: 14px;
            }
            .shop-btn--space{
                line-height: 3;
                margin: 0;
            }
        }
    }

// body section
    .content-image--figure{
        flex-basis: 30%;
        height: 230px;
    }
    .body--content--card{
        flex-basis: 40%;
        height: 230px;
        .content{
            width: 85%;
            margin: 30px auto;
            h3{
                padding-top: 20px;
                line-height: 0;
                margin-bottom: 18px;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 4px;
            }
            p{
                line-height: 1.2;
                margin-bottom: 0;
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 1195px){
    .slider-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    .slider-img--container{
        flex-basis: 60%;
        figure{
            height: auto;
            margin: 0;
        }
    }
    .slider-btn--position{
        right: -150px;
    }
    .slider-info--container{
        flex-basis: 40%;
        margin: 0;
        .slider-info{
            width: 70%;
            margin:0 auto;
            h2{
                font-size: 2.5rem;
                margin: 0;
                margin-bottom: 1.5rem;
                // display: none;
            }
            p{
                line-height: 1.4;
                margin: 0;
                font-size: 16px;
            }
            .shop-btn--space{
                margin-top: 3%;
            }
        }
    }

// body section

    .content-image--figure{
        flex-basis: 30%;
        height: 240px;
        img{
            width: 100%;
            height: 100%;
            display: flow-root;
        }
    }
    .body--content--card{
        flex-basis: 40%;
        height: 240px;
        .content{
            width: 85%;
            margin: 30px auto;
            h3{
                padding-top: 28px;
                line-height: 0;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 17px;
                letter-spacing: 6px;
            }
            p{
                font-size: 16px;
                line-height: 1.45;   
            }
        }
    }
}